/* navbar-started */
#logo{
    width: 145px;
}
#nav-bar{
    margin: 10px 80px;
}
#nav-item{
    font-size: 1.5rem;
}
#franchise-btn{
    background-color: transparent;
    padding: 12px 16px;

}
#online-btn{
    padding: 12px 16px;
    border: 0px;
}
#order-span{
    padding: 5px 8px;
    border-radius: 20px;
}
/* nav-bar endend */
.carousel{
    width: 100px;
}
#parent{
    display: inline;
}
#container{
    font-size: 2rem;
    font-weight: 2rem;
    height: 30px;
    margin: 20px;
    margin-bottom: 30%;
    padding: 0px 30px;
    
    
}
#image-1{
    width: 250px;
    height: 150px;
    margin-top: 20px;
    padding: 10px;
}
#image-2{
    width: 250px;
    height: 150px;
    padding: 10px;
}
#image-3{
    width: 250px;
    height: 150px;
    padding: 10px;
}
#order-1{
    background-color: transparent;
    margin: 10px 45px 0;
    width: 130px;
    padding: 15px;

}
#order-2{
    background-color: transparent;
    margin: 10px 45px 0;
    width: 130px;
    padding: 15px;
    
    
}
#order-3{
    background-color: transparent;
    margin: 10px 45px 0;
    width: 130px;
    padding: 15px;
    
}
#online-btn1{
    background-color: transparent;
    padding: 15px;
    width: 180px;
    
}
#order-span1{
    padding: 6px 8px;
    border-radius: 25px;
    margin-left: 6px;
}
#bg-image{
    margin-right: 330px;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 0px;

}
#image-11{
    height: 410px;
}
#image-13{
    width: 500px;
    height: 500px;
}
#image-14{
    width: 400px;
    height: 300px;
}
#image-15{
    width: 400px;
    height: 300px;
}
#image-16{
    width: 400px;
    height: 300px;
    
}
#online-btn2{
    padding: 15px;
}

#container-1{
    font-size: 2rem;
}
#para{
    font-size: 1.5rem;
}
#para-2{
    font-size: 1.6rem;
}
#image{
    width: 550px;
    height: 350px;
    padding: 5px;
}
#para-4{
    font-size: 3rem;
    margin-left: 100px;
    
}
#para-5{
    font-size: 1.3rem;
    margin-left: 100px;
}
#image-4{
    width: 550px;
    height: 350px;
    padding: 5px;
    margin-left: 100px;
}
#para-6{
    font-size: 3rem;
    margin-right: 100px;
    margin-left: 20px;
}
#para-7{
    font-size: 1.5rem;
    margin-right: 100px;
    margin-left: 20px;
}
#head-4{
    font-size: 3rem;
}
#para-8{
    font-size: 3rem;
    margin-right: 100px;
    margin-left: 100px;
}
#para-9{
    font-size: 1.3rem;
    margin-left: 100px;
    margin-right: 100px;
}
#image-5{
    width: 550px;
    height: 250px;
    margin-right: 100px;
    ma
    mrgin-left: 20px;
}
#image-6{
    width: 550px;
    height: 250px;
    padding: 5px;
    margin-left: 100px;
}
#image-7{
    width: 550px;
    height: 300px;
    padding: 5px;

}
#image-8{
    width: 550px;
    height: 350px;
    padding: 5px;
}
#image-9{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
#container-2{
    width: 350px;
    height: 400px;
    margin-left: 80px;
}
#image-10{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
#image-11{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
#container-3{
    width: 350px;
    height: 400px;
    margin-left: 80px;
}
#image-12{
    width: 500px;
    height: 250px;
    border-radius: 10px;
}
#image-13{
    width: 450px;
    height: 250px;
    border-radius: 10px;
}
.container-4{
    width: 500px;
}




















    

