
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
   
}

html{
    font-size: 62.5%;
}
:root{
    --red: #ed1c24;
    --white: #ffffff;
    --black: #000000;
    --green: #28a745;
    --grey: #0f0f0f;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.text-none{
    text-decoration: none;
}
.text-white{
    color: #ffffff;
}
.bg-red{
    background-color: var(--red);
}
.bg-white{
    background-color: var(--white);
}
.bg-black{
    background-color: var(--black);
}
.bg-green{
    background-color: var(--green);
}
.bg-grey{
    background-color: var(--grey);
}
.text-red{
    color: var(--red);
}
.text-white{
    color: var(--white);
}
.text-black{
    color: var(--black);
}
.text-green{
    color: var(--green);
}
.text-grey{
    color: var(--grey);
}
/* flexbox classes */
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: start;
}

.item-center{
    align-items: center;
}
.item-start{
    align-items: start;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 25px;
}
/* margin classes */
.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.m-5{
    margin: 25px;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 25px;
}
.ml-1{
    margin-left: 20px;
}
.ml-2{
    margin-left: 40px;
}
.ml-3{
    margin-left: 60px;
}
.ml-4{
    margin-left: 80px;
}
.ml-5{
    margin-left: 100px;
}
.ml-6{
    margin-left: 120px;
}
.mr-1{
    margin-right: 20px;
}
.mr-2{
    margin-right: 40px;
}
.mr-3{
    margin-right: 60px;
}
.mr-4{
    margin-right: 80px;
}
.mr-5{
    margin-right: 100px;
}
.mb-1{
    margin-bottom: 20px;
}
.font-size{
    font-size: 3rem;
}
.font-size-1{
    font-size: 1.5rem;

}
.font-size2{
    font-size: 1.2rem;
}
.position-abs{
    position: absolute;
}
.font-size3{
    font-size: 3.5rem;
}
.font-size4{
    font-size: 4rem;
}

.border{
    border: 1px solid var(--white);
}
.border-1{
    border: 1px solid var(--white);
}
.rounded{
    border-radius: 30px;
    cursor: pointer;
}
@font-face {
    font-family: 'futurak';
    src: url(../asset/font/futurak.ttf);
}
.futurak{
    font-family: 'futurak';
}


